<app-header></app-header>

<app-hero-section></app-hero-section>

<app-features-list></app-features-list>

<app-customize-one></app-customize-one>
<app-customize-two></app-customize-two>
<app-customize-three class="hidden md:block"></app-customize-three>
<app-customize-four class="hidden md:block"></app-customize-four>
<app-customize-five class="hidden md:block"></app-customize-five>

<app-video-section></app-video-section>

<app-plans-available></app-plans-available>

<app-contact-form></app-contact-form>

<app-footer></app-footer>
